CLOUD_SYNC_BASE_URL_DEV=http://localhost:3001
# 生产地址示例（请按需填写）
CLOUD_SYNC_BASE_URL_PROD=http://110.119.211.985:1234

# 云同步与错误上报使用的服务端密钥（请按需填写）
CLOUD_SYNC_API_SECRET_KEY=FRKB_73726add-497c-4c30-b340-ba3b94e9788d


