.total-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 20px;
  padding: 0 8px;
}

.selected-count-text,
.total-text {
  font-size: 11px;
  color: var(--text-weak);
  white-space: nowrap;
  margin-bottom: 2px;
  user-select: none;
  -webkit-user-select: none;
}

.total-row > .selected-count-text + .selected-count-text::before,
.total-row > .selected-count-text + .total-text::before,
.total-row > .total-text + .selected-count-text::before {
  content: '|';
  display: inline-block;
  margin: 0 10px;
  opacity: 0.4;
}
