.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard syntax */
}

.selectable {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.canDrag {
  -webkit-app-region: drag;
}

.canNotDrag {
  -webkit-app-region: no-drag;
}

.dialog {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  color: #cccccc;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cccccc;

  .inner {
    border: 1px solid #2c2c2c;
    background-color: #181818;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

.disableButton {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #1e1e1e;
  font-size: 14px;
  cursor: not-allowed;
  color: #a8abb2;
}

.button {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #2d2e2e;
  font-size: 14px;

  &:hover {
    color: white;
    background-color: #0078d4;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.flashing-border {
  box-shadow: inset 0 0 0 1px transparent;
  /* 初始边框为透明，以便动画从透明到#0078d4 */
  transition: border-color 0.2s ease;
  /* 过渡效果使边框颜色变化更平滑 */
}

.flashing-border.is-flashing {
  animation: flash 0.5s infinite;
  /* 1.5秒内闪烁三次，但infinite会被下面的JavaScript逻辑覆盖 */
}

@keyframes flash {
  0%,
  100% {
    box-shadow: inset 0 0 0 1px transparent;
  }

  /* 开始和结束都是透明 */
  33.33%,
  66.66% {
    box-shadow: inset 0 0 0 1px #0078d4;
  }

  /* 在1/3和2/3的时间点显示边框 */
}

.bubbleBox {
  height: 22px;
  line-height: 22px;
  text-align: center;
  position: relative;
  border-radius: 3px;
  border: 1px solid #424242;
  font-size: 12px;
  background-color: #202020;
  padding: 0 10px;
  font-weight: normal;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
